#login .login-form {
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#login .login-form .title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 500;
}

#login .login-form-forgot {
  float: right;
}

#login .login-form-button {
  width: 100%;
}